# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Mermaid Preview'
      'command': 'atom-mermaid:toggle'
    }
  ]
  '.atom-mermaid-preview': [
    {
      'label': 'Save As PNG'
      'command': 'atom-mermaid:save-as-png'
    },
    {
      'label': 'Save As SVG'
      'command': 'atom-mermaid:save-as-svg'
    },
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Mermaid Preview'
      'submenu': [
        {
          'label': 'Toggle Preview'
          'command': 'atom-mermaid:toggle'
        }
      ]
    ]
  }
]
